<template>
	<form class="uk-form-horizontal">
		<div class="uk-margin">
			<label class="uk-form-label">Initial temperature</label>
			<div class="uk-form-controls">
				<input
					v-model="initialTemperature"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.initialTemperature.$error }"
					id="initial-temperature"
					name="initial-temperature"
					min="1"
					max="40"
					placeholder="°C"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Altitude</label>
			<div class="uk-form-controls">
				<input
					v-model="altitude"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.altitude.$error }"
					id="altitude"
					name="altitude"
					min="1"
					max="40"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Humidity</label>
			<div class="uk-form-controls">
				<input
					v-model="humidity"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.humidity.$error }"
					id="humidity"
					name="humidity"
					min="1"
					max="100"
				/>
			</div>
		</div>
	</form>
</template>
<script>

import { required, between } from 'vuelidate/lib/validators'

export default {
	name: 'AirParameters',
	validations: {
		initialTemperature: {
			required,
			between: between(1, 40)
		},
		altitude: {
			required,
			between: between(0, 5000)
		},
		humidity: {
			required,
			between: between(0, 1)
		},
	},
	created() {
		this.$v.$touch()
	},
	computed: {
		initialTemperature: {
			get() { return this.$store.state.air.initialTemperature },
			set(value) { this.$store.commit('air/updateInitialTemperature', value) }
		},
		altitude: {
			get() { return this.$store.state.air.altitude },
			set(value) { this.$store.commit('air/updateAltitude', value) }
		},
		humidity: {
			get() { return this.$store.state.air.humidity },
			set(value) { this.$store.commit('air/updateHumidity', value) }
		}
	}
}

</script>
