<template>
	<form class="uk-form-horizontal">
		<div class="uk-margin">
			<label class="uk-form-label">Set temperature</label>
			<div class="uk-form-controls">
				<input
					v-model="setTemperature"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.setTemperature.$error }"
					id="setTemperature"
					name="setTemperature"
					placeholder="°C"
					min="1"
					max="40"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Proportional</label>
			<div class="uk-form-controls">
				<input
					v-model="proportional"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.proportional.$error }"
					id="controller-P"
					name="controller-P"
					min="1"
					max="10000"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Integral</label>
			<div class="uk-form-controls">
				<input
					v-model="integral"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.integral.$error }"
					id="controller-I"
					name="controller-I"
					min="1"
					max="10000"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Derivative</label>
			<div class="uk-form-controls">
				<input
					v-model="derivative"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.derivative.$error }"
					id="controller-D"
					name="controller-D"
					min="1"
					max="10000"
				/>
			</div>
		</div>
	</form>
</template>

<script>

import { required, between } from 'vuelidate/lib/validators'

export default {
	name: 'ControllerParameters',
	validations: {
		setTemperature: {
			required,
			between: between(1, 40)
		},
		proportional: {
			required,
			between: between(0, 1000)
		},
		integral: {
			required,
			between: between(0, 1000)
		},
		derivative: {
			required,
			between: between(0, 1000)
		}
	},
	created() {
		this.$v.$touch()
	},
	computed: {
		setTemperature: {
			get() { return this.$store.state.controller.setTemperature },
			set(value) { this.$store.commit('controller/updateSetTemperature', value) }
		},
		proportional: {
			get() { return this.$store.state.controller.proportional },
			set(value) { this.$store.commit('controller/updateProportional', value) }
		},
		integral: {
			get() { return this.$store.state.controller.integral },
			set(value) { this.$store.commit('controller/updateIntegral', value) }
		},
		derivative: {
			get() { return this.$store.state.controller.derivative },
			set(value) { this.$store.commit('controller/updateDerivative', value) }
		},
	}
}

</script>
