<template>
	<div class="uk-flex uk-flex-right">
		<vk-button v-if="!firstPage" v-on:click="previous()" size="large" class="uk-margin-small-right">
			<vk-icon icon="chevron-left" />
			Previous
		</vk-button>

		<vk-button v-if="!lastPage" v-on:click="next()" size="large">
			Next
			<vk-icon icon="chevron-right" />
		</vk-button>

		<vk-button v-else v-on:click="launch()" size="large" type="primary">
			<vk-icon icon="play" />
			Launch
		</vk-button>
	</div>
</template>

<script>

import { steps } from '../WizardRouter'

export default {
	name: 'NavigationBar',
	data() {
		return {
			index: 0
		}
	},
	watch: {
		'$route' ({meta}) {
			this.index = meta.index
		}
	},
	computed: {
		firstPage() { return this.index == 0 },
		lastPage() { return this.index == steps.length - 1 }
	},
	methods: {
		next() { this.$router.push( steps[ this.index + 1 ].path) },
		previous() { this.$router.push(steps[ this.index - 1 ].path) },
		launch() { this.$emit('launch') }
	}
}

</script>

<style scoped>
button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
</style>
