<template>
	<form class="uk-form-horizontal">
		<apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
		<div class="uk-margin">
			<label class="uk-form-label">Min temperature</label>
			<div class="uk-form-controls">
				<input
					v-model="minTemperature"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.minTemperature.$error }"
					id="minTemperature"
					min="-10"
					max="40"
					placeholder="°C"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Max temperature</label>
			<div class="uk-form-controls">
				<input
					v-model="maxTemperature"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.maxTemperature.$error }"
					id="maxTemperature"
					min="-10"
					max="40"
					placeholder="°C"
				/>
			</div>
		</div>
	</form>
</template>

<script>

import VueApexCharts from 'vue-apexcharts'
import { required, between } from 'vuelidate/lib/validators'
import chartOptions from './outdoorChartOptions'

export default {
	name: 'OutdoorParameters',
	components: {
		apexchart: VueApexCharts
	},
	validations: {
		minTemperature: {
			required,
			between: between(-10, 40)
		},
		maxTemperature: {
			required,
			between: between(-10, 40)
		}
	},
	created() {
		this.$v.$touch()
	},
	computed: {
		series() {
			return [
				{
					name: "Outdoor",
					data: this.$store.state.outdoor.outdoorTemperatures
				},
				{
					name: "Ground",
					data: this.$store.state.outdoor.groundTemperatures
				}
			]
		},
		chartOptions() {
			return chartOptions(this.$store.state.outdoor.outdoorTemperatures.length);
		},
		minTemperature: {
			get() { return this.$store.state.outdoor.minTemperature },
			set(value) { this.$store.commit('outdoor/updateMinTemperature', value) }
		},
		maxTemperature: {
			get() { return this.$store.state.outdoor.maxTemperature },
			set(value) { this.$store.commit('outdoor/updateMaxTemperature', value) }
		}
	}
}

</script>
