<template>
	<form class="uk-form-horizontal">
		<div class="uk-margin">
			<label class="uk-form-label">Nominal heat emission</label>
			<div class="uk-form-controls">
				<input
					v-model="nominalHeatEmission"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.nominalHeatEmission.$error }"
					id="width"
					min="500"
					max="10000"
					placeholder="W"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Radiator constant</label>
			<div class="uk-form-controls">
				<input
					v-model="constant"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.constant.$error }"
					id="constant"
					min="1"
					max="100"
					placeholder=""
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Inlet temperature</label>
			<div class="uk-form-controls">
				<input
					v-model="inletTemperature"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.inletTemperature.$error }"
					id="inletTemperature"
					min="20"
					max="100"
					placeholder="°C"
				/>
			</div>
		</div>
	</form>
</template>

<script>

import { required, between } from 'vuelidate/lib/validators'

export default {
	name: 'RadiatorParameters',
	validations: {
		nominalHeatEmission: {
			required,
			between: between(500, 10000)
		},
		constant: {
			required,
			between: between(0, 100)
		},
		inletTemperature: {
			required,
			between: between(20, 100)
		},
	},
	created() {
		this.$v.$touch()
	},
	computed: {
		nominalHeatEmission: {
			get() { return this.$store.state.radiator.nominalHeatEmission },
			set(value) { this.$store.commit('radiator/updateNominalHeatEmission', value) }
		},
		constant: {
			get() { return this.$store.state.radiator.constant },
			set(value) { this.$store.commit('radiator/updateConstant', value) }
		},
		inletTemperature: {
			get() { return this.$store.state.radiator.inletTemperature },
			set(value) { this.$store.commit('radiator/updateInletTemperature', value) }
		},
	}
}

</script>
