<template>
	<form class="uk-form-horizontal">
		<div class="uk-margin">
			<label class="uk-form-label">Width</label>
			<div class="uk-form-controls">
				<input
					v-model="width"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.width.$error }"
					id="width"
					min="1"
					max="100"
					placeholder="meters"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Depth</label>
			<div class="uk-form-controls">
				<input
					v-model="depth"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.depth.$error }"
					id="depth"
					min="1"
					max="100"
					placeholder="meters"
				/>
			</div>
		</div>
		<div class="uk-margin">
			<label class="uk-form-label">Height</label>
			<div class="uk-form-controls">
				<input
					v-model="height"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.height.$error }"
					id="height"
					min="1"
					max="30"
					placeholder="meters"
				/>
			</div>
		</div>
	</form>
</template>
<script>

import { required, between } from 'vuelidate/lib/validators'

export default {
	name: 'RoomParameters',
	validations: {
		width: {
			required,
			between: between(3, 100)
		},
		depth: {
			required,
			between: between(3, 100)
		},
		height: {
			required,
			between: between(1.5, 20)
		},
	},
	created() {
		this.$v.$touch()
	},
	computed: {
		width: {
			get() { return this.$store.state.room.width },
			set(value) { this.$store.commit('room/updateWidth', value) }
		},
		depth: {
			get() { return this.$store.state.room.depth },
			set(value) { this.$store.commit('room/updateDepth', value) }
		},
		height: {
			get() { return this.$store.state.room.height },
			set(value) { this.$store.commit('room/updateHeight', value) }
		},
	}
}

</script>
