<template>
	<div class="wizard uk-card uk-card-default .uk-width-4-5">
		<div class="uk-card-header uk-padding">
			<h3 class="uk-card-title">{{title}}</h3>
		</div>

		<div class="uk-card-body uk-padding">
			<vk-grid>
				<div class="uk-width-1-5@m">
					<vk-nav style="margin-top: 0">
						<li v-for="step in steps" v-bind:key="step.meta.index">
							<router-link :to="step.path" v-bind:class="{ active: index == step.meta.index }">{{ step.meta.title }}</router-link>
						</li>
					</vk-nav>
				</div>
				<div class="uk-width-expand@m">
					<router-view />
				</div>
			</vk-grid>
		</div>
		<div class="uk-card-footer">
			<navigation-bar v-on:launch="launch()"/>
		</div>
	</div>
</template>

<script>

import NavigationBar from './NavigationBar.vue'
import { steps } from '../WizardRouter'

export default {
	name: 'SimulationWizard',
	data() {
		return {
			title: this.$router.currentRoute.meta.title,
			index: this.$router.currentRoute.meta.index,
			steps
		}
	},
	components: {
		NavigationBar
	},
	methods: {
		async launch() {
			const id = await this.$api.startSimulation(this.$store.state)

			const idQuery = `&var-simulation_id=${ id }`;
			const timeQuery = `&from=0&to=${ this.$store.state.simulation.time * 3600 * 1000 }`;

			const grafanaUrl = `${ window.grafanaUrl }?orgId=1${ idQuery }${ timeQuery }`;

			window.location.href = grafanaUrl;
		}
	},
	watch: {
		'$route' ({meta}) {
			const mainName = 'Heating simulator';

			this.title = meta.title;
			this.index = meta.index,

			document.title = meta.title ? `${meta.title} - ${mainName}` : mainName;
		}
	}
}
</script>

<style scoped>

.wizard {
	max-width: 70em;
}

.active, .active:hover, .active:active, .active:focus {
	color: #222
}

</style>
