<template>
	<form class="uk-form-horizontal">
		<div class="uk-margin">
			<label class="uk-form-label">Simulation time</label>
			<div class="uk-form-controls">
				<input
					v-model="time"
					type="number"
					:class="{'uk-input': true, 'uk-form-danger': $v.time.$error }"
					id="simulation-time"
					name="simulation-time"
					min="1"
					max="48"
					placeholder="hours"
				/>
			</div>
		</div>
	</form>
</template>
<script>

import { required, between } from 'vuelidate/lib/validators'

export default {
	name: 'SimulationParameters',
	validations: {
		time: {
			required,
			between: between(1, 48)
		}
	},
	created() {
		this.$v.$touch()
	},
	computed: {
		time: {
			get() { return this.$store.state.simulation.time },
			set(value) { this.$store.commit('simulation/updateTime', value) }
		}
	}
}

</script>
