<template>
	<vk-grid style="margin: 0">
		<div class="uk-width-expand">
			<input
				class="uk-input uk-form-blank uk-form-width-medium"
				type="text"
				placeholder="Layer name"
				:value="name"
				@input="updateName"
			/>
		</div>
		<div class="uk-width-1-5">
			<input
				:class="{'uk-input': true, 'uk-form-blank': true, 'uk-form-width-medium': true, 'uk-form-danger': $v.conductivity.$error }"
				type="number"
				placeholder="Conductivity"
				step=0.1
				:value="conductivity"
				@input="updateConductivity"
			/>
		</div>
		<div class="uk-width-1-5">
			<input
				:class="{'uk-input': true, 'uk-form-blank': true, 'uk-form-width-medium': true, 'uk-form-danger': $v.thickness.$error }"
				type="number"
				placeholder="Thickness"
				step=0.1
				:value="thickness"
				@input="updateThickness"
			/>
		</div>
	</vk-grid>
</template>

<script>

import { required, between } from 'vuelidate/lib/validators'

export default {
	name: 'WallLayer',
	validations: {
		conductivity: {
			required,
			between: between(0, 1)
		},
		thickness: {
			required,
			between: between(0, 1)
		}
	},
	created() {
		this.$v.$touch()
	},
	props: {
		wall: {
			type: String
		},
		index: {
			type: Number
		}
	},
	methods: {
		updateName({ target: { value: name } }) {
			this.$store.commit('walls/modifyLayer', { wall: this.wall, index: this.index, name })
		},
		updateConductivity({ target: { value: conductivity } }) {
			this.$v.conductivity.$touch()
			this.$store.commit('walls/modifyLayer', { wall: this.wall, index: this.index, conductivity })
		},
		updateThickness({ target: { value: thickness } }) {
			this.$v.thickness.$touch()
			this.$store.commit('walls/modifyLayer', { wall: this.wall, index: this.index, thickness })
		}
	},
	computed: {
		layer() {
			return this.$store.getters['walls/getLayer'](this.wall, this.index)
		},
		name() {
			return this.layer.name
		},
		conductivity() {
			this.$v.conductivity.$touch()
			return this.layer.conductivity
		},
		thickness() {
			this.$v.thickness.$touch()
			return this.layer.thickness
		}
	}
}

</script>

<style scoped>

.layer {
	display: block;
	padding: 10px 0 !important;
	margin: 0 !important;
}

.active {
	background: #f5f5f5
}

</style>
