<template>
	<div>
		<vk-tabs>
			<vk-tabs-item v-for="wall in walls" v-bind:key="wall" :title="wall">
				<form class="uk-form-horizontal">
					<wall-layers :wall="wall"/>
				</form>
			</vk-tabs-item>
		</vk-tabs>
	</div>
</template>

<script>

import WallLayers from './WallLayers'

export default {
	name: 'WallParameters',
	data() {
		return {
			walls: [
				'left',
				'right',
				'front',
				'back',
				'ceiling',
				'floor'
			]
		}
	},
	components: {
		WallLayers
	}
}

</script>
