<template>
	<div>
		<ul class="uk-list uk-list-divider">
			<li v-for="(layer, index) in layers" v-bind:key="layer.id" class="layer" v-bind:class="{ active: index == selected }">
				<a v-on:click="select(index)">
					<wall-layer :wall="wall" :index="index" />
				</a>
			</li>
		</ul>
		<div v-vk-margin margin="uk-margin-small-left">
			<vk-icon-link v-on:click="add()" icon="plus-circle" />
			<vk-icon-link v-on:click="remove()" class="uk-margin-small-left" icon="minus-circle" />
			<vk-icon-link v-on:click="moveUp()" class="uk-margin-small-left" icon="arrow-up" />
			<vk-icon-link v-on:click="moveDown()" class="uk-margin-small-left" icon="arrow-down" />
		</div>
	</div>
</template>

<script>

import WallLayer from './WallLayer'

export default {
	name: 'WallLayers',
	props: {
		wall: {
			type: String
		}
	},
	data() {
		return {
			selected: 0
		}
	},
	components: {
		WallLayer
	},
	methods: {
		select(i) { this.selected = i },
		add() {
			const entity = {
				wall: this.wall,
				name: '',
				conductivity: 0,
				thickness: 0
			};

			this.$store.commit('walls/addLayer', entity)
		},
		remove() {
			const amount = this.$store.getters['walls/getLayersAmount'](this.wall)

			if (this.selected < amount)
				this.$store.commit('walls/removeLayer', { wall: this.wall, index: this.selected})
			
			if (this.selected >= amount)
				this.select(this.selected - 1)
		},
		moveUp() {
			const amount = this.$store.getters['walls/getLayersAmount'](this.wall)

			if (this.selected >= 1 && this.selected < amount) {
				this.$store.commit('walls/swapLayers', { wall: this.wall, a: this.selected, b: this.selected - 1})

				this.selected = this.selected - 1
			}

			this.$forceUpdate();
		},
		moveDown() {
			const amount = this.$store.getters['walls/getLayersAmount'](this.wall)

			if (this.selected < amount - 1) {
				this.$store.commit('walls/swapLayers', { wall: this.wall, a: this.selected, b: this.selected + 1})

				this.selected = this.selected + 1
			}

			this.$forceUpdate();
		}
	},
	computed: {
		layers() {
			return this.$store.getters['walls/getLayersOfWall'](this.wall)
		}
	}
}

</script>

<style scoped>

.layer {
	display: block;
	padding: 10px 0 !important;
	margin: 0 !important;
}

.active {
	background: #f5f5f5
}

</style>
