<template>
  <div id="app" class="uk-padding">
    <div class="uk-flex uk-flex-center">
      <simulation-wizard />
    </div>
  </div>
</template>

<script>
import SimulationWizard from './components/SimulationWizard.vue'

export default {
  name: 'App',
  components: {
    SimulationWizard
  }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

</style>
